# Игнорируются файлы в катологе tmp
tmp/

# Игнорируются файлы, заканчивающиеся суффиксом _old
*_old

# Игнорируются файлы, заканчивающиеся суффиксом _backup
*_backup

# Игнорируются файлы Thumbs.db
Thumbs.db

# Игнорируются файлы .DS_Store
.DS_Store